{% extends 'index.html' %}

{% block title %}Añadir Perfil{% endblock %}

{% block content %}
<div class="container mx-auto px-6 py-8">
  <h2 class="text-2xl font-semibold text-gray-700 dark:text-gray-200 mb-4">Añadir Perfil</h2>
  
  <form method="post">
    {% csrf_token %}
    <div class="form-group">
        {{ form.fech_inicio.label }}
        {{ form.fech_inicio }}
    </div>

    <div class="form-group">
        {{ form.fech_fin.label }}
        {{ form.fech_fin }}
    </div>

    <div class="form-group">
        {{ form.notas.label }}
        {{ form.notas }}
    </div>

    <div class="form-group">
        {{ form.estado.label }}
        {{ form.estado }}
    </div>

    <div class="form-group">
        {{ form.id_cliente.label }}
        {{ form.id_cliente }}
    </div>

    <div class="form-group">
        {{ form.id_perfil_cuenta.label }}
        {{ form.id_perfil_cuenta }}
    </div>

    <div class="form-group">
        {{ form.id_tipo_dispositivo.label }}
        {{ form.id_tipo_dispositivo }}
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
</form>

</div>
{% endblock %}
